.alert-modal{
    border:solid thin yellow;
    width:400px;
    height:100px;
    position: fixed;
    top:30px;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .top{
  
  }
  .bottom{
  
  }
  //sass